<odoo>
	
	<template id="webclient_bootstrap" name="Web Client" inherit_id="web.webclient_bootstrap">
        <xpath expr="//t[@t-set='body_classname']" position="after">
            <t t-set="body_classname" t-value="'o_web_client mk_sidebar_type_' + request.env.user.le_sidebar_type or 'large'"/>
        </xpath>
    </template>
	
</odoo>