$wr-primary:        #0B2E59;
$wr-primary-dark:   #3F71AB;
$wr-secondary:      #FEBA00;
$wr-secondary-dark: rgb(207, 157, 17);
$wr-gradient:       #3F71AB;
$wr-gradient-muted: #6999d1;
$wr-gradient-dark:  #305886;
